<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action ="@{/save}" th:object = "${countryMAV}" method = "post">
	ID: <label>
			<input type = "text" th:field = "*{id}" readonly="readonly"/>
		</label> <br>
	Name:<label>
			<input type = "text" th:field = "*{name}"  />
		</label> <br>
	Population:<label>
			<input type = "text" th:field = "*{population}"  />
		</label> <br>
	<button type = "submit"> Confirm Change </button>  
</form>

</body>
</html>